<div class="wrapper">
	<h1 style="text-align:center;">NFL Homefield Advantage</h1>
	<div class="observable" contenteditable="true" id="year">2004</div>
</div>
<div id="container" ></div>
<div id="slider-container">
	<p class="date top-date">2013</p>
	<p class="date bottom-date">2004</p>
	<div id="slider"></div>
</div>

<div class="decade-average">
	<h2>Teams Ranked by Homefield Advantage over the Decade</h2>
	<table class="list-1">
		<tr>
			<th>Rank</th>
			<th>Team</th>
			<th>Score</th>
		</tr>
		<% counter = 1 %>
		<% @avg_composites[0].each do |composite| %>
			<tr>
				<td><%= "#{counter}." %></td>
				<td><%= composite.pop %></td>
				<td><%= composite.shift %></td>
				<% counter += 1 %>
			</tr>
		<% end %>
	</table>
	<table class="list-2">
		<tr>
			<th>Rank</th>
			<th>Team</th>
			<th>Score</th>
		</tr>
		<% @avg_composites[1].each do |composite| %>
			<tr>
				<td><%= "#{counter}." %></td>
				<td><%= composite.pop %></td>
				<td><%= composite.shift %></td>
				<% counter += 1 %>
			</tr>
		<% end %>
	</table>
</div>

<footer>
	This project was created by <a href="https://github.com/Bigspencey">Spencer Smitherman</a> and <a href="https://github.com/dslachtman">Darcey Lachtman</a> with special guest <a href="https://github.com/qsymmachus">John Olmsted</a>.<br> Source code to the project is available on <a href="https://github.com/Bigspencey/nfl_home_field_advantage">Github</a> - feel free to contribute!
</footer>